.containerFluid {
    padding: 4%;
  }
  
  .historyHeader {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    margin-top: 10%;
  }
  
  .H3{
    text-align: center;
    margin-bottom: 20px;
  }

  .formWrapper {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
    margin: 0 auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .tableWrapper {
    width: 100%;
    margin-top: 50px;
  }
  
  .table {
    width: 95%;
    border-collapse: collapse;
  }
  
  .pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
  