.buttonWrapper {
    display: flex;
    justify-content: center;
    /* Centers button horizontally */
    margin-top: 80px;
    /* Adds spacing above the button */
}

.H3 {
    text-align: center;
    margin-bottom: 20px;
}

.formWrapper {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
    margin: 0 auto;
    /* Centers the form horizontally */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    /* Subtle shadow */
    text-align: center;
    margin-top: 30px;
}

.formGroup {
    margin-bottom: 10px;
}

.prodCards{
    margin-top: 20px;
}

.card {
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    /* Subtle shadow */
    border: none;
    background-color: white;
    margin-bottom: 30px;
    width: fit-content;
}

.cardImg {
    width: 100px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.cardBody {
    text-align: center;
}

.cardTitle {
    font-size: 16pt;
}

.cardItem {
    font-size: 12pt;
}

/* Tooltip or modal style for "Machine JSON Data" */
.tooltipIcon {
    cursor: pointer;
    margin-top: 10px;
}

.tooltipContent {
    display: none;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fafafa;

    padding: 20px;
    border-radius: 8px;
    z-index: 1000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    text-align: left;
}

.tooltipWrapper {
    position: absolute;
    top: 10px;
    right: 10px; /* Positions it to the top-right corner */
    z-index: 1000;
    width: fit-content;
  }
  

.tooltipWrapper:hover .tooltipContent {
    display: block;
}