.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 110px;
  padding: 10px 0;
  background-color: #ffffff;
  box-shadow: 0px 4px 10px #001e2b;
  padding-right: 40px;
  margin-left: 10px;
}

.navbar-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

#nav-img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  cursor: pointer;
}

.navtext {
  color: #00684a;
  font-size: 40px;
  margin: 0;
  cursor: pointer;
  line-height: 80px;
}

.navbar {
  width: 100%;
  max-width: 100%;
}

.nav-tabs {
  width: 97%;
  display: flex;
  justify-content: space-around;
  padding-right: 8%;
}

.navbar .nav-link {
  font-size: 25px;
  padding: 8px 15px;
  color: #ffffff;
  background-color: #004d00;
  border: 1px solid #023430;
  border-radius: 10px;
  text-align: center;
  transition: background-color 0.3s ease;
}

.navbar .nav-link.active {
  color: #004d00;
  border-color: #004d00;
}

.navbar .nav-item.show .nav-link,
.navbar .nav-link:hover {
  background-color: #00ed64;
  color: #004d00;
}

.history-header {
  font-size: 3em;
  color: #023430;
  text-shadow: #00684a;
  margin-top: 35px;
  margin-bottom: 30px;
}

.form-wrapper {
  margin-top: 20px;
  padding: 45px;
  border: 2px solid #ddd;
  background-color: #f8f9fa;
  border-radius: 25px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 800px;
  margin-left: 2%;
  margin-right: 2%;
}

.button {
  background-color: #00ed64;
  font-size: large;
  color: black;
}

.table {
  background-color: #001e2b;
  width: 100%;
  margin-left: 2%;
  font-size: 18px;
}

.table th {
  background-color: #023430;
  color: white;
}

.table td {
  background-color: #e3fcf7;
}

.table-wrapper {
  max-width: 100%;
  overflow-x: auto;
  margin-bottom: 20px;
}

.table-dark-green th,
.table-dark-green td {
  text-align: center;
}

.card {
  margin-bottom: 30px;
  margin-left: 12%;
  margin-right: 12%;
}

.card-body {
  font-size: 24px;
  text-align: center;
  background-color: #E3FCF7;
}

.overview-img {
  display: flex;
  align-items: center;
  margin-left: 12%;
  margin-right: 12%;
  margin-bottom: 4%;
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  .navbar-left {
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
  }

  .image-container {
    max-width: 90%;
    padding: 0 10px;
  }

  .navbar .nav-link {
    font-size: 16px;
    padding: 7px 10px;
  }
}

  .form-wrapper {
    padding: 10px;
  }

  .table-dark-green th,
  .table-dark-green td {
    font-size: 14px;
  }

  .navtext,
  .history-header,
  .table th,
  .table td,
  body,
  .navtext {
    font-family: "Lato", sans-serif;
  }
