.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 120px;
  padding: 10px 0;
  background-color: #FFFFFF;
  box-shadow: 0px 4px 10px #001E2B;
  padding-right: 40px;
  margin-left: 10px;
}

.navbar-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

#nav-img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  cursor: pointer;
}

.navtext {
  color: #00684A;
  font-size: 30px;
  margin: 0;
  cursor: pointer;
  line-height: 50px;
}

.navbar .nav-tabs {
  width: 100%;
}

.navbar .nav-link {
  font-size: 20px;
  padding: 10px 20px;
  color: white;
  background-color: #004d00;
  border: 1px solid #023430;
  border-radius: 10px;
  text-align: center;
  transition: background-color 0.3s ease;
}

.navbar .nav-link.active {
  color: #004d00; 
  border-color: #004d00;
}

.navbar .nav-item.show .nav-link,
.navbar .nav-link:hover {
  background-color: #00ED64;
  color: #004d00;
}

.form-wrapper {
  margin-top: 20px;
  padding: 50px;
  border: 2px solid #ddd;
  background-color: #f8f9fa;
  border-radius: 28px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 800px;
}

.table {
  background-color: #001E2B;
  width: 100%;
}

.table th {
  background-color: #023430;
  color: white;
}

.table td {
  background-color: #E3FCF7;
}

.table-wrapper {
  max-width: 100%;
  overflow-x: auto;
  margin-bottom: 20px;
  padding-right: 20px;
}

.table-dark-green th,
.table-dark-green td {
  text-align: center;
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  .navbar-left {
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
  }

  .image-container {
    max-width: 90%;
    padding: 0 10px;
  }

  .navbar .nav-link {
    font-size: 18px;
    padding: 10px 15px;
  }
}

  .form-wrapper {
    padding: 20px;
  }

  .table-dark-green th,
  .table-dark-green td {
    font-size: 14px;
    padding: 8px;
  }