/* NavigationBar.module.css */

.navbar {
    width: 100%;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
  }
  
  .brand {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .linkContainer {
    display: flex;
    gap: 20px;
  }
  
  .link {
    text-decoration: none;
    color: black;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
  }
  
  .link:hover {
    color: #00684A; /* Subtle hover effect */
  }
  
  .activeLink {
    font-weight: bold;
    color: #0070f3; /* Optional: Change color for active link */
  }
  