.sidebar {
    background-color: #fbfcfc;
    width: fit-content;
    transition: width 0.3s ease;
    grid-area: side-nav;
    overflow-y: auto;
    list-style: none;
    z-index: 9999;
    padding-left: 5px;
    position: fixed;
    top: 7%;
    bottom: 0;
    right: 0;
  }
  
  .sidebar.shrunk {
    width: 0px;  
    padding-left: 0px;
  }
  
  .sidebar.shrunk .sidebarContent {
    display: none;  
  }
  
  .sidebar.shrunk .details {
    visibility: hidden;
    opacity: 0;
  }
  
  .toggle-button {
    position: absolute;
    bottom: 10px; 
    right: 5%;
    padding: 10px;
    background-color: #ffffff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    margin-bottom: 40px;
    transform: translateY(-50%);
    z-index: 10000; 
  }
  
  .toggle-button:hover {
    background-color: #c07cf1;
  }
  
  .cardItem {
    margin-bottom: 10px;
    padding: 8px;
  }
  
  .sidebar.shrunk .cardItem {
    display: none;
  }
    