.sidebar {
    background-color: #fbfcfc;
    width: 240px; 
    transition: width 0.3s ease;
    grid-area: side-nav;
    overflow-y: auto;
    list-style: none;
    z-index: 9999; 
    padding-left: 24px;
    position: fixed;
    top: 110px;
    bottom: 0;
    right: 0;  
  }
  
  .sidebar.shrunk {
    width: 70px; 
    padding-left: 0px;
  }
  
  .sidebarContent {
    max-height: 100vh;
    overflow-y: auto;
    padding-right: 15px;  
  }
  
  .sidebarImage {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .sidebarImage img {
    width: 40px; 
    height: 40px;
  }
  
  .jsonContent {
    padding: 10px;
    background-color: #f1f1f1;
    border-radius: 4px;
    white-space: pre-wrap;
    word-wrap: break-word;
    font-size: 12px;
    color: #000000;
    overflow-x: auto;
  } 
  
  .toggle-button {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;
    background-color: #ffffff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    margin-bottom: 30px;
    transform: translateY(-50%);
  }
  
  .toggle-button:hover {
    background-color: #c07cf1;
  }
  
  .details {
    font-size: 12px;
    color: #000000;
  }
  
  .cardItem {
    margin-bottom: 10px;
    padding: 8px;
  }
  
  .cardItem br {
    margin-bottom: 5px;
  }